<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
  <link rel="stylesheet" href="/style/dropdown.css" />

  <body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <div class="wrapper">
      <main>
        <div>
          <div class="country-data">
            <span class="return">&#9664; Return to List</span>
            <div class="dd-menu">
              <div class="selector">
                <span id="user-selection"><%- countryData.name %></span>
                <span class="caret">&#x25BA;</span>
              </div>
              <div class="menu-value dd-visibility">
                <% payload.forEach(function(val, i) { %>
                  <div class="item">
                    <%= val.name.common %>
                  </div>
                  <% }); %>
              </div>
            </div>
            <div class="details">
              <p>Region: <%- countryData.region %></p>
              <p>Population: <%- String(countryData.population).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></p>
              <p>Capital: <%- countryData.capital %></p>
              <p>UN Member: <%- countryData.unMember ? "Yes" : "No" %></p>
              <p>Land Locked: <%- countryData.landlocked ? "Yes" : "No" %></p>
              <p>Flag: <%- countryData.flag %></p>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <script src="/js/details.js" type="module"></script>
  </body>

</html>